In [18]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [19]:
data=pd.read_csv("weather.csv")

In [8]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [13]:
data=data[["Temp_C", "Dew Point Temp_C", "Rel Hum_%", "Wind Speed_km/h", "Press_kPa"]]

In [10]:
data

    Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Press_kPa
0     -1.8              -3.9         86                4     101.24
1     -1.8              -3.7         87                4     101.24
2     -1.8              -3.4         89                7     101.26
3     -1.5              -3.2         88                6     101.27
4     -1.5              -3.3         88                7     101.23
..     ...               ...        ...              ...        ...
69   -17.0             -24.6         52               15     101.86
70   -17.1             -24.6         52               20     101.86
71   -17.3             -24.2         55               17     101.87
72   -17.5             -24.2         56               13     101.88
73   -17.9             -24.1         58               11     101.86

[74 rows x 5 columns]

In [14]:
predict="Wind Speed_km/h"

In [15]:
X=np.array(data.drop([predict],1))
y=np.array(data[predict])

In [20]:
x_train , x_test, y_train, y_test= sklearn.model_selection.train_test_split(X,y, test_size=0.1)

In [21]:
linear=linear_model.LinearRegression()

In [23]:
linear.fit(x_train, y_train)

LinearRegression()

In [28]:
acc=linear.score(x_test, y_test)

In [29]:
print(acc)

0.8388884621302425

In [30]:
print("coefficient: \n", linear.coef_)
print("intercept: \n", linear.intercept_)

coefficient:
 [-10.92194784  12.00144483  -2.77735857  -4.4172515 ]
intercept:
 721.100783434251

In [34]:
predictions=linear.predict(x_test)
predictions

array([29.64812461, 16.87538386, 21.04253831,  7.5222055 , 29.43260961,
       20.10205752, 19.76677339,  9.95246051])

In [36]:
for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

29.648124610470518 [ -4.1  -11.4   57.    99.86] 28
16.87538385952473 [-17.3  -24.2   55.   101.87] 17
21.042538311987073 [-12.9  -19.1   60.   100.76] 22
7.522205500986843 [ -1.8   -3.7   87.   101.24] 4
29.43260961015187 [ -5.6  -13.4   54.   100.07] 24
20.102057520435324 [-16.3  -23.8   52.   101.64] 24
19.766773388719344 [-16.9  -24.8   50.   101.74] 24
9.95246051130539 [ -1.4   -3.6   85.   101.23] 9